@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* ------Primary------ */
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);

    /* ------Second------ */

    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    /* -----fonts----- */
    --font-one: 'Outfit', sans-serif;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    font-size: 15px;
    height: 100vh;
    background-color: var(--Very-dark-blue-main-background);
    color: var(--main-paragraph);
    font-family: var(--font-one);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    background-color: var(--Dark-desaturated-blue-card-background);
    border-radius: 5px;
    text-align: center;
}

.img-sec {
    height: 100%;
    width: 100%;
    background: linear-gradient(hsla(277, 100%, 25%, .514) 100%, rgba(255, 255, 255, 0)), url(./images/image-header-desktop.jpg);
    background-size: cover;
}

.info {
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: var(--main-heading);
    padding: 2rem 1rem;
    letter-spacing: -1px;
}

h2 span {
    color: var(--Soft-violet-accent);
}

.main-paragraph {
    font-size: 0.9rem;
    padding: 0 3.5rem;
    color: var(--main-paragraph);
    line-height: 1.4;
}

.overview {
    margin: 20px;
}

.overview span {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.overview p {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: var(--main-paragraph);
}

@media (min-width: 600px) {
    .card {
        height: 25rem;
        width: 60rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .img-sec {
        background:linear-gradient(hsla(277, 100%, 25%, .514) 100%, rgba(255, 255, 255, 0)), url(./images/image-header-desktop.jpg);
        background-size: cover;
        height: 100%;
        max-width: 100%;
        border-radius: 0 5px 5px 0;
    }

    .info {
        text-align: left;
    }

    h2 {
        font-size: 1.9rem;
        padding: 2rem 3rem;
    }

    .overviews {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
    }

    .overview {
        display:inline-block ;
    }

    .overview span {
        font-size: 1rem;
    }

    .overview p {
        font-size: 0.8rem;
        margin-top: 5px;
        color: var(--main-paragraph);
    }
}
